<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>アップロード確認</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
            crossorigin="anonymous"></script>
</head>
<body>
<div class="container">
    <form action="/commit" method="post" th:object="${uploadForm}">
        <table class="table">
            <thead>
            <tr>
                <th>日付</th>
                <th>メッセージ</th>
                <th>金額</th>
                <th>カテゴリ</th>
            </tr>
            </thead>
            <tbody>
            <th:block th:each="payment, stat : *{payments}">
                <tr>
                    <td th:text="${#temporals.format(payment.dateTime, 'yyyy/MM/dd HH:mm:ss')}">2021/01/01 23:59:59</td>
                    <td th:text="${payment.message}">松弁ネットに支払い</td>
                    <td class="text-end" th:text="${#numbers.formatDecimal(payment.amount, 0, 'COMMA', 0, 'POINT')}">
                        640
                    </td>
                    <td>
                        <select class="form-select" id="genre" th:field="*{payments[__${stat.index}__].genreId}">
                            <option th:value="${null}">（登録しない）</option>
                            <optgroup th:each="category : ${categories}" th:label="${category.name}" label="食費">
                                <option th:each="genre : ${category.genres}" th:value="${genre.id}"
                                        th:text="${genre.name}"
                                        th:selected="${genre.id} == *{payments[__${stat.index}__].genreId}">
                                    飲食品
                                </option>
                            </optgroup>
                        </select>
                    </td>
                </tr>
            </th:block>
            </tbody>
        </table>
        <input type="hidden" name="uuid" th:value="${uploadForm.uuid}"/>
        <input class="btn btn-primary" type="submit" value="確定"/>
    </form>
</div>
</body>
</html>